<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TTS Demo</title>
    <link rel="stylesheet" href="../static/post.css">
</head>
<body>
    <div class="Containerss">
    <div class="zeme" style="

    height: 267px;
    
">
    <h1 style="
    text-align: center; 
    color:#333;
    ">TTS Demo</h1>
    <p style="
    text-align: center;
    font-size: xx-large;
    background-color: #00000000;
    font-family: cursive;
    color: #000;
    width: 20em;
    margin-left: 19em;
    text-decoration: underline;
">This is a demo of a TTS service.</p>
    <audio id="audio" controls src="{{ audio_url }}" style="
    background-color: #2f0808;
    background: #000;
    transform: translateY(46px);
    margin-left: 61px;
    padding: 0;
    border-radius: 75px;
"></audio>
    <div id="result"></div>

</div>

<div class="container-audio">
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
</div>
</div class="Containerss">
    <script audio_url="{{ audio_url }}"></script>
    </body>
</html>
