<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>KIYA text-to-Speech</title>
  <link rel="stylesheet" href="reset.min.css">
  <link rel="stylesheet" href="../static/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<style>
  .bord-line{
    color: white;
    border: 5px solid;
    padding-left: 32px;
    width: 402px;
    margin-left: -170px;
  }
  
  .center {
    bottom: 20%;
    position: relative;
    margin: auto;
    margin-top: 159px;
    width: 50%;
    padding: 118px;
    color: white;
    font: revert;
}
</style>
</head>
<body>
<!-- partial:index.partial.html -->
<div id='container'></div>
<div class='center'>
  <div class="bord-line">
  <h1>Amharic | Text to Speech</h1>
  </div>
    <form id="tts-form" action="/tts" method="POST">
      <textarea id="text" name="text" rows="4" cols="50" placeholder="Try አበበ በሶ በላ ..."></textarea><br>
      <button type="submit">Convert to Speech</button>
  </form>
  
</div>
<!-- partial -->
  <script src='https://gist.github.com/mrdoob/838785/raw/a19a753b441d6ad41707c58f06dbe17f3470423c/RequestAnimationFrame.js'></script>
<script src='https://raw.github.com/mrdoob/stats.js/master/build/stats.min.js'></script><script  src="../static/script.js"></script>

</body>
</html>
